{% extends "base.html" %}

{% block title %}View{% endblock %}


{% block menu %}
{% endblock %}


{% block content %}
    <h2 class="mt-5">{{ project.name }}</h2>
    {% if project.description %}
        <p class="pre">{{ project.description }}</p>
        <hr/>
    {% endif %}
    {% for i in project.tasks_project.all %}
        <p>{{ i.pk }} | {{ i.summary }} <i class="card-status">{{ i.status }}</i> </p>
        <p><a href="{% url 'webapp:view' i.pk %}">Подробнее</a>
            {% if user.is_authenticated %}
            <a href="{% url 'webapp:delete' i.pk %}">Удалить</a>
            <a href="{% url 'webapp:update' i.pk %}">Обновить</a>
            {% endif %}
        </p>
    {% endfor %}
    <hr/>
    <p class="date">Дата начала: {{ project.start_date }}</p>
    <p class="date">Дата окончания: {{ project.end_date }}</p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'webapp:create_task_project' project.pk %}">Добавить задачу в проект</a>
    <p class="mt-5"></p><a class="delete-button ml-5 px-3 mb-4" href="{% url 'webapp:project_delete' project.pk %}">Удалить</a><br/>
    <a class="update-button ml-5 px-3 mb-4" href="{% url 'webapp:project_update' project.pk %}">Обновить</a><br/>
    {% endif %}
    <a class="back-button ml-5 px-3 mb-4" href="{% url 'webapp:project_index' %}">Назад</a></p>
{% endblock %}